@media ( min-width : 576px ) and ( max-width : 767px ) {

  header {
    height: 7vh;
  }

  #appointment-title {
    margin: 2rem 0;
  }

  #month , #year {
    font-size: 1rem;
  }

  #task-input {
    font-size: 1rem;
    min-height: 2rem;
    max-height: 3rem;
    width: 20rem;
  }

  #task-input:placeholder {
    font-size: 1rem;
  }

  .buttons-container button {
    border-radius: 3vw;
    font-size: 2.5vw;
    margin: 0 0.5vw;
    height: 4.5vw;
    width: 20vw;
  }

  .buttons-container {
    margin: 1rem 0;
    height: 2.5rem;
  }


  .calendar-container {
    height: 12rem;
    margin: 1.5rem 0;
  }

  .check-button , .delete-button , #btn-add {
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    height: 2rem;
    margin: 1vw;
    width: 2rem;
  }

  .check-button img , .delete-button img , #btn-add img {
    height: 3vw;
  }

  .day {
    font-size: 2.4vw;
    height: 3.5vw;
  }

  .day:hover {
    font-size: 3.3vw;
    height: 3vw;
  }

  .days-container {
    height: 12vh;
  }

  .input-container {
    margin-top: 4vh;
  }

  .input-appointment-container {
    height: 4.5vh;
  }

  .my-tasks {
    width: 90%;
  }

  .my-tasks span {
    font-size: 3vw;
  }

  .my-tasks div div , #selected-type {
    height: 1.5rem;
    width: 1.5rem;
  }

  .month-container {
    height: 4rem;
    padding: 0.5rem;
  }

  .task-input {
    font-size: 1rem;
  }

  .task:hover , #selected-type {
    height: 2rem;
    width: 2rem;
  }

  .task-list-container {
    margin-top: 3rem;
  }

  .title-type-tasks h3 , #appointment-title , #costum-h4 {
    font-size: 3vw;
  }

  .title-type-tasks {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .type-tasks-container {
    display: flex;
    align-items: center;
  }

  .week-days-container {
    height: 3.8vh;
    margin-top: 1vh;
  }

  .week-days li {
    font-size: 2.5vw;
    padding-bottom: 0;
    margin-top: 1vh;
  }

}
