@media ( min-width : 320px ) and ( max-width : 575px ) {

  header {
    height: 6.5vh;
  }

  .buttons-container button , #btn-add {
    border-radius: 3vw;
    font-size: 2.5vw;
    margin: 0 0.5vw;
    height: 4.5vw;
    width: 20vw;
  }

  .buttons-container {
    height: 7vh;
  }

  .buttons-container button:hover , #btn-add:hover {
    font-size: 3vw;
    height: 6vw;
    width: 22vw;
  }

  #month , #year {
    font-size: 1rem;
  }

  .calendar-container {
    margin-top: 1vh;
  }

  .check-button , .delete-button {
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    height: 6vw;
    margin: 1vw;
    width: 6vw;
  }

  .check-button img , .delete-button img {
    height: 3vw;
  }

  .check-button:hover , .delete-button:hover {
    background-color: rgb(181, 208, 215);
  }

  .day {
    font-size: 2vw;
    height: 3vw;
  }

  .day:hover {
    font-size: 3vw;
    height: 3vw;
  }

  .days-container {
    height: 9vh;
  }

  .my-tasks span {
    font-size: 3vw;
  }

  .my-tasks div div , #selected-type {
    height: 1.5vh;
    width: 1.5vh;
  }

  .task:active , #selected-type {
    height: 2.5vh;
    width: 2.5vh;
  }

  .task:hover , #selected-type {
    height: 2.5vh;
    width: 2.5vh;
  }

  .month-container {
    padding: 0.5vh;
  }

  .project-container {
    font-size: 2vw;
  }

  .title-type-tasks h3 , #appointment-title , #costum-h4 {
    font-size: 3.5vw;
  }

  .week-days-container {
    height: 3vh;
    margin-top: 1vh;
  }

  .week-days li {
    font-size: 2vw;
    padding-bottom: 0;
    margin-top: 1vh;
  }

}
