@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap') ;

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb (238, 238, 238);
  font-family: Lato, sans-serif;
}

#btn-add {
  margin: 0;
  width: 15%;
}

.buttons-container {
  background-color: rgb (238, 238, 238);
  display: inline-block;
  text-align: center;
  width: 100%;
}

#days {
  margin: 0;
  display: flex;
}

#task-another {
  background-color: rgb(222, 55, 208);
}

#task-exercises {
  background-color: rgb(232, 103, 47);
}

#task-input {
  border-radius: 15px;
  height: 30px;
  width: 30%;
}

#task-job {
  background-color: rgb(130, 49, 207);
}

#task-leisure {
  background-color: rgb(235, 199, 37);
}

#task-project {
  background-color: rgb(115, 229, 115);
}

.day {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin: 5px 0;
  text-align: center;
  vertical-align: middle;
  width: 10vw;
}

.day-zoom {
  color: rgb(119, 119, 119);
  display: inline-block;
  font-size: 30px;
  margin: 5px 0;
  text-align: center;
  vertical-align: middle;
  width: 13.6%;
}

.days-container {
  margin-left: 1vw;
}

.div {
  display: flex;
}

.input-container {
  align-items: center;
  column-gap: 5%;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 49%;
}

.label {
  color: rgb (102, 102, 102);
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-right: 20%;
  margin-top: 3.4%;
  position: absolute;
  vertical-align: middle;
}

.month-container {
  background: green;
  padding: 40px 25px;
  text-align: center;
}

.my-tasks {
  align-items: center;
  border: 1px solid red;
  clear: both;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  float: left;
  height: 35vh;
  justify-content: center;
  vertical-align: middle;
  width: 49%;
}

.my-tasks div div {
  border: 1px solid black;
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  height: 35px;
  margin-right: 2%;
  vertical-align: middle;
  width: 35px;
}

.my-tasks div div:active {
  height: 45px;
  width: 45px;
}

.my-tasks span {
  color: rgb (102, 102, 102);
  display: flex;
  font-size: 18px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 3px;
  padding-bottom: 10px;
  vertical-align: middle;
}

.project-container {
  display: flex;
  flex-direction: column;
}

.select-holidays {
  background-color: rgb(136, 145, 155);
}

.task-list-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 50%;
  margin-right: 0.8%;
  margin-top: 40px;
}

.task-list-container ul {
  color: rgb(102, 102, 102);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  list-style-type: none;
  padding: 0;
  vertical-align: middle;
}

.tasks-container {
  display: flex;
  flex-direction: row;
  height: 130px;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.tasks-container h3 {
  color: rgb(102, 102, 102);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.text-and-color {
  border: 1px solid yellowgreen;
  display: flex;
}

.type-tasks-container {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
}

.unselect-holidays {
  background-color: rgb(238, 238, 238);
}

.week-days {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  font-size: 1.4vw;
  font-weight: 600;
  justify-content: space-around;
  margin: 1vw;
  padding: 10px 0;
}

.week-days li {
  border: 1px solid green;
  color: rgb(102, 102, 102);
  display: flex;
  justify-content: center;
  margin: 1vw;
  text-align: center;
  width: 10vw;
}

.week-days-container {
  margin-left: 35px;
}
