@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(238, 238, 238);
  font-family: Lato, sans-serif;
  overflow-x: hidden;
}

button {
  border: 0.18rem solid rgb(16, 16, 16);
  background-color: rgb(208, 215, 201);
  border-radius: 1vw;
  cursor: pointer;
  font-size: 1.3rem;
  height: 1.8rem;
  width: 10vw;
}

button:hover {
  background-color: rgb(116, 118, 115);
  font-size: 1.4rem;
  height: 2rem;
  width: 10.5vw;
}

h4 {
  margin: 2vh 0;
}

label {
  font-weight: 900;
  font-size: 1.3rem;
}

ul {
  list-style-type: none;
}

#btn-add {
  margin: 0 2rem;
}

#days {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 100%;
}

#month , #year {
  font-family: Lato, sans-serif;
  font-size: 1.5rem;
  color: white;
}

#selected-type {
  margin: 1vh;
  height: 6vh;
  width: 6vh;
}

#selected-type-container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 18rem;
  margin: 2%;
}

#task-another {
  background-color: rgb(222, 55, 208);
}

#task-exercises {
  background-color: rgb(232, 103, 47);
}

#task-input {
  border: 0.1rem solid black;
  border-radius: 0.8rem;
  height: 3vh;
  text-align: center;
  width: 30vw;
}

#task-input::placeholder {
  text-align: center;
  font-size: 1rem;
}

#task-job {
  background-color: rgb(130, 49, 207);
}

#task-leisure {
  background-color: rgb(151, 127, 18);
}

#task-project {
  background-color: rgba(0, 54, 44, 0.764);
}

.buttons-container {
  background-color: rgb(238, 238, 238);
  display: inline-block;
  text-align: center;
  width: 72vw;
}

.buttons-container button {
  margin: 2rem;
}

.day {
  box-sizing: border-box;
  flex: 0 0 calc(100% / 7);
  font-size: 1vw;
  height: 3vw;
  line-height: 2.5vw;
  text-align: center;
  vertical-align: middle;
}

.days-container {
  display: flex;
  flex-wrap: wrap;
  width: 72vw;
}

.day-zoom {
  color: rgb(119, 119, 119);
  display: inline-block;
  font-size: 2vw;
  margin: 0.5vw 0;
  text-align: center;
  vertical-align: middle;
  width: 13.6%;
}

.div {
  display: flex;
}

.input-container {
  align-items: center;
  gap: 2vh;
  display: flex;
  flex-direction: column;
  height: 18vh;
  width: 50vw;
}

.label {
  color: rgb(102, 102, 102);
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-right: 20%;
  margin-top: 3.4%;
  position: absolute;
  vertical-align: middle;
}

.month-container {
  background: green;
  padding: 4vh 2vw;
  text-align: center;
}

.my-tasks {
  align-items: flex-start;
  clear: both;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  float: left;
  height: 25vh;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
}

.my-tasks div div , #selected-type {
  border: 0.1vw solid black;
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2), 0 0.3rem 1rem 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  margin-right: 2%;
  vertical-align: middle;
}

.my-tasks div div {
  height: 3.5vh;
  width: 3.5vh;
}

.my-tasks div div:active {
  height: 4.5vh;
  width: 4.5vh;
}

.my-tasks span {
  color: rgb(102, 102, 102);
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.2rem;
  padding-bottom: 1vh;
  padding-left: 1vw;
  vertical-align: middle;
}

.project-container {
  display: flex;
  flex-direction: column;
}

.select-holidays {
  background-color: rgb(136, 145, 155);
}

.task:hover {
  height: 4.5vh;
  width: 4.5vh;
}

.task-list-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 45.5vw;
  margin-top: -12vh;
  width: 50vw;
}

.task-list-container ul {
  color: rgb(102, 102, 102);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  padding: 0;
  vertical-align: middle;
}

.tasks-container {
  display: flex;
  flex-direction: row;
  height: 35vh;
  justify-content: start;
  text-align: center;
  width: 100%;
}

.tasks-container h3 , #selected-type-container {
  color: rgb(102, 102, 102);
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: underline;
}

.text-and-color {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 1vh;
  width: 100%;
}

.title-type-tasks {
  margin-bottom: 3vh;
}

.type-tasks-container {
  display: flex;
  flex-direction: column;
  height: 18rem;
  width: 21vw;
  margin: 2%;
}

.unselect-holidays {
  background-color: rgb(238, 238, 238);
}

.week-days {
  display: flex;
  flex-direction: row;
  font-size: 1.4vw;
  font-weight: 600;
  width: 72vw;
}

.week-days li {
  color: rgb(76, 127, 76);
  display: flex;
  flex: 0 0 calc(100% / 7);
  justify-content: center;
  padding-bottom: 3vh;
  text-align: center;
}
