/* stylelint-disable declaration-no-important */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(238, 238, 238);
  font-family: Lato, sans-serif;
  overflow-x: hidden;
}

button {
  border-radius: 1vw;
  cursor: pointer;
  font-size: 1.3rem;
  height: 1.8rem;
  width: 10vw;
}

h4 {
  margin: 2vh 0;
}

img {
  margin: 0 ! important;
}

label {
  font-weight: 900;
  font-size: 2vw;
}

textarea {
  font-size: 2vw;
}

ul {
  list-style-type: none;
  margin-bottom: 0 ! important;
  padding: 0;
  padding-left: 0 ! important;
}

#btn-add {
  margin: 0 2rem;
}

#costum-h4 {
  margin-bottom: 3vh;
  text-align: center;
  width: 100%;
}

#days {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 100%;
}

ul #days {
  padding-left: 0 ! important;
}

#month , #year {
  font-family: Lato, sans-serif;
  font-size: 1.5rem;
  color: white;
}

#selected-type {
  margin: 1vh;
  height: 6vh;
  width: 6vh;
}

#selected-type-container {
  display: flex;
  justify-content: start;
}

#task-another {
  background-color: rgb(222, 55, 208);
}

#task-exercises {
  background-color: rgb(232, 103, 47);
}

#task-input {
  border: 0.1rem solid black;
  border-radius: 0.8rem;
  font-size: 3vw;
  text-align: center;
  min-height: 1rem;
  max-height: 3rem;
  width: auto;
}

#task-input::placeholder {
  text-align: center;
  font-size: 3.5vw;
}

#task-job {
  background-color: rgb(130, 49, 207);
}

#task-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

#task-leisure {
  background-color: rgb(151, 127, 18);
}

.week-days li {
  color: rgb(76, 127, 76);
  display: flex;
  flex: 0 0 calc(100% / 7);
  justify-content: center;
  text-align: center;
  width: 100%;
}

#task-list li {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  height: auto;
  justify-content: center;
}

#task-project {
  background-color: rgba(7, 135, 46, 0.764);
}

.buttons-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 45%;
}

.buttons-container button {
  border: 0.18rem solid rgb(16, 16, 16);
  border-radius: 2vw;
  background-color: rgb(208, 215, 201);
}

.buttons-container button:hover {
  background-color: rgb(116, 118, 115);
}

.calendar-container {
  height: 55%;
  margin-top: 5vh;
}

.check-button , .delete-button , #btn-add {
  align-items: center;     /* Centraliza verticalmente */
  background-color: rgb(208, 215, 201);
  border: 1px solid rgb(116, 118, 115);
  border-radius: 1.7vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
  width: 5vw;
  height: 5vw;
}

.check-button img , .delete-button img , #btn-add img {
  height: 4vw;
  margin: 1vw;
}

.check-button:hover , .delete-button:hover , #btn-add:hover , .select-holidays {
  background-color: rgb(181, 208, 215);
}

.day {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content: center;
  flex: 0 0 calc(100% / 7);
  font-size: 2.4vw;
  height: 4vh;
  line-height: 2.5vw;
}

.day:hover {
  font-weight: 700;
}

.days-container {
  display: flex;
  flex-wrap: wrap;
  width: 72vw;
}

.day-zoom {
  color: rgb(119, 119, 119);
  display: inline-block;
  font-size: 2vw;
  margin: 0.5vw 0;
  text-align: center;
  vertical-align: middle;
  width: 13.6%;
}

.div {
  display: flex;
}

.input-appointment-container {
  width: 100%;
}

.label {
  color: rgb(102, 102, 102);
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-right: 20%;
  margin-top: 3.4%;
  position: absolute;
  vertical-align: middle;
}

.month-container {
  background: green;
  text-align: center;
}

.my-tasks {
  clear: both;
  cursor: pointer;
  vertical-align: middle;
  width: 100%;
}

.my-tasks div div , #selected-type {
  border: 0.1vw solid black;
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2), 0 0.3rem 1rem 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  margin-right: 2%;
  vertical-align: middle;
}

.my-tasks div div {
  height: 3.5vh;
  width: 3.5vh;
}

.my-tasks div div:active {
  height: 4.5vh;
  width: 4.5vh;
}

li span {
  width: 70vw;
}

.my-tasks span {
  color: rgb(102, 102, 102);
  display: flex;
  font-size: 1.8vw;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.2rem;
  vertical-align: middle;
}

.project-container {
  display: flex;
  flex-direction: column;
}

.selected-type-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.task:hover {
  height: 4.5vh;
  width: 4.5vh;
}

.tasks-container {
  height: auto;
  margin: 2vh;
}

.tasks-container h3 , #appointment-title , #costum-h4 , #list-title {
  color: rgb(102, 102, 102);
  font-size: 2.5vw;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: underline;
}

.tasks-types-selected-container {
  width: 100%;
}

.text-and-color {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 1vh;
  width: 100%;
}

.type-tasks-container {
  border-right: 0.5vw solid rgba(102, 102, 102, 0.207);
}

.title-type-tasks {
  margin-bottom: 3vh;
  width: 80%;
}

.title-type-tasks h3 {
  width: 100%;
}

.unselect-holidays {
  background-color: transparent;
}

.week-days {
  display: flex;
  flex-direction: row;
  font-size: 2.4vw;
  font-weight: 600;
  width: 100%;
}

.week-days-container {
  align-items: center;
  display: flex;
  height: auto;
  margin: 1vw 0;
}

